* {
  margin: 0;
  padding: 0;
  font-family: 'Tahoma', sans-serif;
}

ul {
  list-style: none;
}

.clearfix:after {
  content: ' ';
  display: block;
  clear: both;
}

body {
  background-image: url(../img/background.png);
  background-repeat: repeat-x;
  background-color: #0c739f;
}

.wrapper {
  width: 1000px;
  margin:0 auto;
  margin-top: 38px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 10px 17px 0px rgba(3,29,40,1);
  -moz-box-shadow: 0px 10px 17px 0px rgba(3,29,40,1);
  box-shadow: 0px 10px 17px 0px rgba(3,29,40,1);
}

header {
  padding-top: 11px;
  padding-left: 28px;
  padding-right: 33px;
  padding-bottom: 2px;
}

.logo {
  float: left;
}

.contacts {
  float: right;
  color: #128aa7;
  font-size: 12px;
  line-height: 16px;
}

h4 {
  margin-bottom: 3px;
}

.countries {
  clear: right;
}

.countries li {
  margin-top: 33px;
  float: right;
  display: inline-block;
  margin-left: 12px;
  text-align: center;
}

.countries a {
  font-size: 10px;
  color: #128aa7;
}

.countries a:hover{
  text-decoration: none;
}

.container {
  margin-top: -2px;
}

.main_img {
  background-size: 100% 100%;
  border-top: 1px solid #128aa7;
  border-bottom: 1px solid #128aa7;
}

.menu {
  height: 32px;
  padding-left: 67px;
  margin-top: 1px;
  border-bottom: 1px solid #000000;
  background-color: #343434;
  font-size: 14px;
  -webkit-box-shadow: 0px 3px 3px 0px rgba(79,79,80,1);
  -moz-box-shadow: 0px 3px 3px 0px rgba(79,79,80,1);
  box-shadow: 0px 3px 3px 0px rgba(79,79,80,1);
}

.menu li {
  float: left;
  position: relative;
  width: 130px;
  height: 28px;
  text-align: left;
}

.menu>li>a {
  padding-top: 8px;
  padding-left: 8px;
  display: block;
  text-decoration: none;
  color: #ffffff;
  padding-bottom: 6.5px;
}

.menu li:nth-child(6) {
  text-align: center;
}

.submenu {
  border-top: 1px solid #000000;
  display: none;
  position: absolute;
  width: 100%;
  left: 0;
  background-color: #343434;
}

.submenu>li {
  float: none;
  text-align: left;
}

.submenu>li>a{
  display: block;
  padding-left: 9px;
  text-decoration: none;
  color: #ffffff;
  line-height: 22px;
}

li:hover>.submenu {
  display: block;
  -webkit-box-shadow: 0px 3px 3px 0px rgba(79,79,80,1);
  -moz-box-shadow: 0px 3px 3px 0px rgba(79,79,80,1);
  box-shadow: 0px 3px 3px 0px rgba(79,79,80,1);
}

.content {
  width: 100%;
  overflow: hidden;
}

.info {
  width: 21%;
  float: left;
  background-color: #edeef0;
  padding-bottom: 2000px;
  margin-bottom: -2000px;
  border-right: 1px solid #c7cacf;
  border-left: 1px solid #c7cacf;
  text-align: center;
  font-size: 14px;
  line-height: 24px;
}

.content_column {
  width: 58%;
  float: left;
  background-color: #ffffff;
  padding-bottom: 2000px;
  margin-bottom: -2000px;
}

.news {
  width: 21%;
  float: right;
  background-color: #edeef0;
  padding-bottom: 2008px;
  margin-bottom: -2000px;
  border-right: 1px solid #c7cacf;
  border-left: 1px solid #c7cacf;
  text-align: center;
  font-size: 14px;
  line-height: 24px;
}

h2 {
  padding-top: 4px;
  font-size: 18px;
  line-height: 26px;
}

footer {
  margin-top: 9px;
  text-align: center;
  color: #ffffff;
  font-size: 12px;
  margin-bottom: 11px;
}
